In [8]:
import pandas as pd

factories = pd.read_csv("tbl_factory.csv",index_col=0)
factories

        FCName  FCDemand FCRegion
FCID
FC00001   東京工場        28       関東
FC00002  木更津工場        29       関東
FC00003   多摩工場        31       関東
FC00004  横須賀工場        25       関東
FC00005   仙台工場        21       東北
FC00006   山形工場        30       東北
FC00007   那須工場        25       東北
FC00008   青森工場        16       東北

In [9]:
warehouses = pd.read_csv("tbl_warehouse.csv",index_col=0)
warehouses

        WHName  WHSupply WHRegion
WHID
WH00001   杉並倉庫        35       関東
WH00002   品川倉庫        41       関東
WH00003   豊洲倉庫        42       関東
WH00004   郡山倉庫        60       東北
WH00005   仙台倉庫        72       東北
WH00006   山形倉庫        65       東北

In [10]:
cost = pd.read_csv("rel_cost.csv",index_col=0)
cost

            FCID     WHID  Cost
RCostID
1        FC00001  WH00001   0.4
2        FC00001  WH00002   0.8
3        FC00001  WH00003   1.5
4        FC00002  WH00001   0.9
5        FC00002  WH00002   0.8
6        FC00002  WH00003   1.6
7        FC00003  WH00001   1.2
8        FC00003  WH00002   1.3
9        FC00003  WH00003   1.5
10       FC00004  WH00001   0.8
11       FC00004  WH00002   1.0
12       FC00004  WH00003   1.1
13       FC00005  WH00004   0.8
14       FC00005  WH00005   0.3
15       FC00005  WH00006   1.4
16       FC00006  WH00004   0.9
17       FC00006  WH00005   1.1
18       FC00006  WH00006   0.7
19       FC00007  WH00004   0.9
20       FC00007  WH00005   1.2
21       FC00007  WH00006   1.3
22       FC00008  WH00004   1.5
23       FC00008  WH00005   1.2
24       FC00008  WH00006   1.3

In [11]:
trans = pd.read_csv("tbl_transaction.csv",index_col=0)
trans.head()

          TransactionDate     ToFC   FromWH  Quantity
TRID
0     2019-01-01 02:11:10  FC00004  WH00003        33
1     2019-01-01 06:12:42  FC00007  WH00006        19
2     2019-01-01 06:32:32  FC00006  WH00004        31
3     2019-01-01 07:17:06  FC00002  WH00003        18
4     2019-01-01 07:52:18  FC00001  WH00002        30

In [12]:
join_data = pd.merge(trans,cost,left_on=["ToFC","FromWH"],right_on=["FCID","WHID"],how="left")
join_data.head()

       TransactionDate     ToFC   FromWH  Quantity     FCID     WHID  Cost
0  2019-01-01 02:11:10  FC00004  WH00003        33  FC00004  WH00003   1.1
1  2019-01-01 06:12:42  FC00007  WH00006        19  FC00007  WH00006   1.3
2  2019-01-01 06:32:32  FC00006  WH00004        31  FC00006  WH00004   0.9
3  2019-01-01 07:17:06  FC00002  WH00003        18  FC00002  WH00003   1.6
4  2019-01-01 07:52:18  FC00001  WH00002        30  FC00001  WH00002   0.8

In [13]:
join_data = pd.merge(join_data,factories,left_on="ToFC",right_on="FCID",how="left")
join_data.head()

,TransactionDate,ToFC,FromWH,Quantity,FCID,WHID,Cost,FCName,FCDemand,FCRegion
0,2019-01-01 02:11:10,FC00004,WH00003,33,FC00004,WH00003,1.1,横須賀工場,25,関東
1,2019-01-01 06:12:42,FC00007,WH00006,19,FC00007,WH00006,1.3,那須工場,25,東北
2,2019-01-01 06:32:32,FC00006,WH00004,31,FC00006,WH00004,0.9,山形工場,30,東北
3,2019-01-01 07:17:06,FC00002,WH00003,18,FC00002,WH00003,1.6,木更津工場,29,関東
4,2019-01-01 07:52:18,FC00001,WH00002,30,FC00001,WH00002,0.8,東京工場,28,関東

In [14]:
join_data = pd.merge(join_data,warehouses,left_on="FromWH",right_on="WHID",how="left")
join_data = join_data[["TransactionDate","Quantity","Cost","ToFC","FCName","FCDemand","FromWH","WHName","WHSupply","WHRegion"]]
join_data.head()

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
0,2019-01-01 02:11:10,33,1.1,FC00004,横須賀工場,25,WH00003,豊洲倉庫,42,関東
1,2019-01-01 06:12:42,19,1.3,FC00007,那須工場,25,WH00006,山形倉庫,65,東北
2,2019-01-01 06:32:32,31,0.9,FC00006,山形工場,30,WH00004,郡山倉庫,60,東北
3,2019-01-01 07:17:06,18,1.6,FC00002,木更津工場,29,WH00003,豊洲倉庫,42,関東
4,2019-01-01 07:52:18,30,0.8,FC00001,東京工場,28,WH00002,品川倉庫,41,関東

In [15]:
kanto = join_data.loc[join_data["WHRegion"]=="関東"]
kanto.head()

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
0,2019-01-01 02:11:10,33,1.1,FC00004,横須賀工場,25,WH00003,豊洲倉庫,42,関東
3,2019-01-01 07:17:06,18,1.6,FC00002,木更津工場,29,WH00003,豊洲倉庫,42,関東
4,2019-01-01 07:52:18,30,0.8,FC00001,東京工場,28,WH00002,品川倉庫,41,関東
7,2019-01-01 09:09:30,12,1.5,FC00001,東京工場,28,WH00003,豊洲倉庫,42,関東
8,2019-01-01 10:52:55,27,1.5,FC00003,多摩工場,31,WH00003,豊洲倉庫,42,関東

In [16]:
tohoku = join_data.loc[join_data["WHRegion"]=="東北"]
tohoku.head()

,TransactionDate,Quantity,Cost,ToFC,FCName,FCDemand,FromWH,WHName,WHSupply,WHRegion
1,2019-01-01 06:12:42,19,1.3,FC00007,那須工場,25,WH00006,山形倉庫,65,東北
2,2019-01-01 06:32:32,31,0.9,FC00006,山形工場,30,WH00004,郡山倉庫,60,東北
5,2019-01-01 08:56:09,31,0.3,FC00005,仙台工場,21,WH00005,仙台倉庫,72,東北
6,2019-01-01 09:00:15,33,0.7,FC00006,山形工場,30,WH00006,山形倉庫,65,東北
9,2019-01-01 14:12:51,21,0.7,FC00006,山形工場,30,WH00006,山形倉庫,65,東北

In [17]:
print("関東支社の総コスト:" + str(kanto["Cost"].sum())+ "万円")
print("東北支社の総コスト:" + str(tohoku["Cost"].sum())+ "万円")

関東支社の総コスト:2189.3万円
東北支社の総コスト:2062.0万円

In [19]:
print("関東支社の総部品輸送個数:"+str(kanto["Quantity"].sum())+"個")
print("東北支社の総部品輸送個数:"+str(tohoku["Quantity"].sum())+"個")

関東支社の総部品輸送個数:49146個
東北支社の総部品輸送個数:50214個

In [25]:
tmp = (kanto["Cost"].sum()/kanto["Quantity"].sum()) * 10000
print("関東支社の部品１つ当たりの総コスト:" + str(int(tmp)) + "円")
tmp = (tohoku["Cost"].sum()/tohoku["Quantity"].sum()) * 10000
print("東北支社の部品１つ当たりの総コスト:"+str(int(tmp))+"円")

関東支社の部品１つ当たりの総コスト:445円
東北支社の部品１つ当たりの総コスト:410円

In [26]:
cost_chk = pd.merge(cost,factories,on="FCID",how="left")
print("東京支社の平均輸送コスト:"+str(cost_chk["Cost"].loc[cost_chk["FCRegion"]=="関東"].mean())+"万円")
print("東北支社の平均輸送コスト:"+str(cost_chk["Cost"].loc[cost_chk["FCRegion"]=="東北"].mean())+"万円")

東京支社の平均輸送コスト:1.075万円
東北支社の平均輸送コスト:1.05万円